<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Rob</key>
	<string>Are we still meet at IMU ?</string>
	<key>RayZZZ</key>
	<string>It&apos;s vert interesting to talk to you</string>
	<key>BlingBling HE</key>
	<string>Hate Tests.</string>
</dict>
</plist>
